__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.coverage
coverage.xml

.env
*.pem
*.key
vault_pass.txt
kubeconfig

**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example

*.db

.DS_Store
.idea/
.vscode/
